
.admission-main
{
    width: 80%;
   position: relative;
   
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  
   
}

.admission-title
{
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 1.5rem;
line-height: 1.5rem;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;
text-transform: uppercase;
color: #C35E88;

}

.rect
{
   
    height: 140vh;
    width: 8px;
    background: linear-gradient(#FFFFFF, #CBAF60, #CBAF60,#CBAF60,#CBAF60,#FFFFFF);;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 30px;
}

.Acenter
{
    position: relative;
    z-index: 3;
    height: 15px;
    width: 15px;
   background:  rgba(31, 41, 55,0.7);
   border-radius: 15px;
}
.Aline
{
    position: relative;
    z-index: 0;
    height: 4px;
    width: 80%;
    background:  rgba(31, 41, 55);
    border-radius: 4px;
    margin-right: -1px;
    margin-left: -1px;
}
.larrow
{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;

}
.rarrow
{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
   

}

.Atarget
{
    width: 10px;
    height: 10px;
    background:  #1F2937B2;
    transform: rotate(45deg);;
}
.adimg
{
    width: 100%;
    max-width: 300px;
    margin: auto;
}
.section
{
    position: relative;
    width: 50.6%;
}

.content
{
    margin-top: 30px;
    padding-bottom:50px ;
    margin-bottom: 30px;
}
.adtext
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 1.3rem;
transition: 300ms ease-in;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;
}
/* .adheader
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
} */
.head
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}


.section:hover .adoverlay
{
    opacity: 1;
}
.section:hover .adtext
{
    opacity: 0.8;
    font-size: 1rem;

}

.adoverlay
{
    position: absolute;
    top: 10%;
    width: 90%;
   display: flex;
   padding: 5px;
   align-items: center;
    min-height: 500px;
    transition: 600ms ease-in;
    opacity: 0;

background: rgba(31, 41, 55, 0.9);
box-shadow: 10px 10px 10px -2px rgba(0, 0, 0, 0.4);
border-radius: 10px;
}
.overlay-text
{

    width: 90%;
    margin: auto;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.2rem;

/* or 34px */


color: #FFFFFF;
}
.rights
{
    margin-left: auto;
}
.rhead
{
    justify-content: flex-start;
}
.roverlay
{
    left: 5%;
}
