.form_container{
  background-color: rgb(76, 76, 212);
  width: 50%;
  margin: auto;
  padding: 30px;
  font-family: 'Roboto Condensed', sans-serif; 
}
.input
{
   
    margin: 5px 10px;
    border: 2px black;
    border-radius: 2px;
    color: black;
    background-color: rgb(199, 198, 198);
    font-size: 15px;
    padding: 3px 5px;
    width: 45%;
}
.input:hover{
    background-color: white;
}
.field{
    margin-bottom:10px ;
}
.check
{
    width: 30%;
    margin-top:5px ;
    display: flex;
    flex-direction: column;
}
.checkbox{
    margin-top: -12px;
}
.header2{
    font-size: 20px;
    font-weight: 500px;
    color: rgb(0, 0, 0);
    margin: 10px;
   
}
.upload{
    width: fit-content;
}
.dec{
    margin-left: 10px;
    width: 100%;
    display:flex;
    flex-direction:row;
    margin-bottom: 10px;
}
.button
{
    width: max-content;
   
    margin: auto;
}
.application
{
    text-align: center;
    font-size: 35px;
   
}
